footer {
	padding: 0 0 50px 0;
	
	#hrg {
		text-align: center;
		padding: 0 0 20px 0;

		a {
			text-transform: uppercase;
			font-family: $open-sans;
			letter-spacing: 0.1em;
			font-weight: bold;
			font-size: 0.75em;

			@include tablet-portrait {
				font-size: 0.6875em;
			}

			@include tablet-landscape {
				font-size: 0.75em;
			}
		}
	}


	#social {

		.links {
			display: flex;
			justify-content: center;

			a {
				margin: 0 15px;
			}
		}
	}

}