header {
	padding: 50px 0;

	@include tablet-portrait {
		padding: 100px 0 50px 0;
	}


	section.logo {
		img {
			margin: 0 auto;
			max-width: 300px;

			@include tablet-landscape {
				max-width: 500px;
			}
		}
	}


}
