body.home {

	section#announcement {
		padding: 20px 0;
		background: $teal;
		color: $white;
		text-align: center;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);

		.wrapper {
			max-width: 960px;
		}

		p {
			font-family: $open-sans;
			font-size: 0.875em;
			line-height: 1.5em;
		}

		a {
			color: $white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	section#info {
		padding: 0 0 50px 0;
	}

	section#top {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		border: 3px solid $white;
		padding: 25px 0;

		@include tablet-portrait {
			padding: 0;
		}

		& > div {
			width: 100%;
			text-align: center;
			padding: 25px;
			

			@include tablet-portrait {
				width: 33.3333%;
				padding: 50px 10px;
			}

			@include tablet-landscape {
				padding: 100px 10px;
			}
		}

		@include tablet-portrait {
			#hours, #location {
				border-right: 3px solid $white;
			}

		}


		h3 {
			text-transform: uppercase;
			padding: 0 0 25px 0;
			font-size: 1.75em;

			@include tablet-landscape {
				font-size: 2.25em;
			}

			&:after {
				width: 40px;
				height: 3px;
				content: '';
				display: block;
				background: $teal;
				margin: 10px auto 0 auto;
			}
		}

		p {
			font-size: 1.25em;
			line-height: 1.5em;

			@include tablet-portrait {
				font-size: 1em;
			}

			@include desktop {
				font-size: 1.25em;
			}

			& + p {
				padding: 30px 0 0 0;
			}
		}

		#menu {
			.menu-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}


			.cta {
				padding: 0 10px 20px 10px;
			}

			em {
				font-size: 1.125em;
			}
		}

	}

	section#bottom {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		width: 100%;
		border: 3px solid $white;
		border-top: none;

		& > div {
			width: 100%;
			text-align: center;
			padding: 40px 25px;
			

			@include tablet-portrait {
				width: 33.3333%;
				padding: 25px;
				align-self: stretch;
			}
		}

		.reservations {
			#sr-res-root {

				text-transform: uppercase !important;
				letter-spacing: 0.05em !important;
				padding: 12px 24px 11px 24px !important;
				border: 2px solid $teal !important;
				display: inline-block !important;
				border-radius: 8px !important;
				background: transparent !important;
				transition: all 0.3s ease-in-out;
				color: $white !important;

				i {
					float: none !important;
					display: inline-block !important;
					margin: 0 7px 0 0 !important;
					transform: translateY(-2px);
				}

				span {
					font-family: $revelstoke !important;
					font-size: 16px !important;
					margin-right: 0 !important;
					line-height:  18px !important;

				}

				&:hover {
					background: $teal !important;;
					color: $white !important;;
				}
			}			
		}

		.reservations, .gift-cards {
			border-bottom: 3px solid $white;

			@include tablet-portrait {
				border-right: 3px solid $white;
				border-bottom: none;
			}
			
		}

		.order {
			h4 {
				font-size: 1.25em;
				padding: 0 0 10px 0;
			}

			.ctas {
				a {
					margin: 0 5px;
				}
			}
		}





	}


}