html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $white;
	font: 400 100%/1 $mrs-eaves;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $revelstoke;
	font-weight: normal;
}

p {

}

a {
	color: $white;
	transition: all 0.3s ease-in-out;
}

a.btn {
	font-family: $revelstoke;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	padding: 12px 24px 11px 24px;
	border: 2px solid $teal;
	display: inline-block;
	border-radius: 8px;
	font-size: 1em;

	&:hover {
		background: $teal;
		color: $white;
	}
}