/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #2a2a2a;
$black: #000;

$red: #BF1E2E;
$blue: #434758;

$teal: #55B7B3;



/* Typography
----------------------------------*/
@font-face {
    font-family: 'Revelstoke';
    src: url('fonts/revelstoke-regular-webfont.woff2') format('woff2'),
         url('fonts/revelstoke-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$revelstoke: 'Revelstoke', sans-serif;
$mrs-eaves: 'mrs-eaves', serif;
$open-sans: 'open-sans', sans-serif;

